.wrapper {
  display: flex;
}

.login-form {
  padding: 100px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}
h1 {
  font-family: Rubik;
  font-weight: 500;
  font-size: 24px;
}

.social-media-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 528px;
  height: 50px;
  left: 144px;
  top: 296px;
  line-height: 12px;

  border: 1.5px solid #284642;
  box-sizing: border-box;
  border-radius: 7px;
  background-color: white;
}

.social-media-button img {
  height: 27px;
  width: 27px;
}

.social-media-button span {
  /* width: 186px; */
  height: 17px;
  left: 341px;
  top: 310px;

  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-left: 19px;
  color: #190f27;
}
