.wrapper {
  display: flex;
  height: 1080px;
  margin: auto;
}

.login-section {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  background: #ffffff;
  width: 47%;
  padding: 18% 7%;
}

.h1 {
  font-family: Rubik;
  font-weight: 500;
  font-size: 24px;
  color: #190f27;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.social-media-button {
  height: 50px;
  left: 144px;
  font-family: Rubik;
  font-weight: 500;
  font-size: 14px;
  border: 1.5px solid #284642;
  border-radius: 7px;
  margin: 15px 0px 0px 0px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media-button img {
  width: 27px;
  height: 27px;
  top: 10000px;
}

.reg-button {
  font-size: 14px;
  line-height: 17px;
  margin-left: 15px;
  color: #190f27;
}

.text-divider {
  font-family: Rubik;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: -0.0571429px;
  padding: 32px 0px 32px 0px;
}

.divider-center {
  padding: 0px 5px 0px 5px;
}

.divider {
  display: flex;
  flex: 1;
  height: 1px;
  background-color: #edebf0;
  padding: 0px 10px 0px 50px;
}

.names-container {
  display: flex;
  column-gap: 25px;
}

.names {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.inputs {
  width: 100%;
  height: 56px;
  border: 1px solid #edebf0;
  box-sizing: border-box;
  border-radius: 7px;
  font-size: 16px;
  font-family: Rubik;
  letter-spacing: -0.0571429px;
}

label {
  font-family: Rubik;
  font-size: 10px;
  color: #64606a;
  letter-spacing: 0.333333px;
  position: relative;
  top: 10px;
  left: 10px;
  padding: 0px 5px 4px 5px;
  background-color: white;
  width: fit-content;
  /* line-height: 20px; */
}

.terms {
  font-family: Rubik;
  color: #64606a;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding-top: 16px;
  padding-bottom: 26px;
}

.terms input {
  height: 18px;
  width: 18px;
  margin-right: 12px;
  cursor: pointer;
}
.grey-text {
  font-family: Rubik;
  color: #64606a;
  text-decoration: underline solid #284642;
  text-decoration-thickness: 3px;
  text-underline-position: under;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #284642;
  border-radius: 7px;
  padding-block: 10px;
}

.text-button {
  font-family: Rubik;
  font-weight: bold;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  color: white;
  background-color: #284642;
  background: rgba(0, 0, 0, 0);
  border: none;
}

.divider-last {
  display: flex;
  flex: 1;
  height: 1px;
  background: #edebf0;
  margin-block: 14px;
  padding-bottom: 1px;
}

.account {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #64606a;
}

.log {
  font-family: Roboto;
  font-weight: 500;
  color: #64606a;
  text-decoration: underline solid #284642;
  text-decoration-thickness: 3px;
  text-underline-position: under;
}

.image-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 57%;
  background-image: url(/images/background.png);
  background-color: rgba(40, 70, 66, 0.6);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}

.image-text {
  width: 30%;
}
.image-text img {
  width: 100%;
}

/* Medium devices (landscape tablets, 910px and down) */
@media only screen and (max-width: 910px) {
  .wrapper {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }

  .login-section {
    width: 100%;
    padding: 0% 11%;
  }

  .image-section {
    background-image: url(/images/image-mobile.png);
    justify-content: flex-start;
    width: 100%;
    height: 590px;
  }
  .names-container {
    display: flex;
    column-gap: 25px;
    flex-direction: column;
}

.image-text{
  position: relative;
  width: 37%;
  left: 30px;

}
}

/* Small devices (portrait tablets and large phones, 320px and down) */
@media only screen and (max-width: 320px) {
  .wrapper {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }

  .login-section {
    width: 100%;
    padding: 13% 7%;
  }

  .image-section {
    height: 240px;
    justify-content: flex-start;
  }

  .image-section {
    background-image: url(./images/image-mobile.png);
  }

  .divider-center{
    font-size: 10px;
    line-height: 14px;
  }

  .terms{
    font-size: 12px;
  }

  .image-text{
      position: relative;
      width: 37%;
      left: 30px;
    }

}
