.wrapper{
  display: flex;
  background: #ffffff;
  margin: auto;
}

.h1{
  font-family: Rubik;
  font-weight: 500;
  font-size: 24px;
  color: #190F27;
}

.social-media-button{
  height: 50px;
  left: 144px;
  border: 1.5px solid #284642;
  border-radius: 7px;
  font-family: Rubik;
  font-weight: 500;
  font-size: 14px;
  border: 1.5px solid #284642;
 box-sizing: border-box;
 border-radius: 7px;

}